<!DOCTYPE HTML>
<html>
	<head>
		<title>PHPJabbers.com | Free Computer Store Website Template</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static' , filename='bootstrap/css/bootstrap.min.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static' , filename='css/main.css') }}" />
		<noscript><link rel="stylesheet" href=""{{ url_for('static' , filename='css/noscript.css') }}"" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<header id="header" class="alt">
					<a href="allcust" class="logo"><strong>Palam Tech</strong> <span>Admin</span></a>
					<nav>
						<a href="#menu">Menu</a>
					</nav>
				</header>

				<!-- Menu -->
				<nav id="menu">
					<ul class="links">
						<li > <a href="logout">Logout</a> </li> 
                        <li  class="active"> <a href="allcust">All Customer</a> </li> 
		                
						<li><a href="rule">Add Rules</a></li>
						<li class="dropdown">
		                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Component</a>
		                    
		                    <ul class="dropdown-menu">
                                <li> <a href="component">List of components</a> </li>
		                        <li> <a href="addcomponent">Add new component</a> </li>
                                <li> <a href="allpackage">List of packages</a> </li>
								<li> <a href="addpackage">Add new package</a> </li>
				                
		                    </ul>
                        
		                </li>
                        <li class="dropdown">
		                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Feedback</a>
		                    
		                    <ul class="dropdown-menu">
                                <li> <a href="feedbacks">All Feedbacks</a> </li>
		                        <li> <a href="complaints">Complaint Feedbacks</a> </li>
				                <li><a href="suggestions">Suggestion Feedbacks</a></li>
                                <li><a href="reviews">Review Feedbacks</a></li>
		                    </ul>
                        
		                </li>


            		</ul>
				</nav>

				<!-- Main -->
					<div id="main" class="alt">

						<section id="contact">
                            <div class="inner">
                                <section>
                                    <header class="major">
                                        <h2>List of all Packages</h2>
                                    </header>
                                    <style>
                                    table, th, td {
                                        border: 1px solid black;
                                        border-radius: 10px;
                                      }
                                    </style>

                                    <table>
                                        <th>ID</th>
                                        <th>Casing</th>
                                        <th>Motherboard</th>
                                        <th>Graphic Processing Unit (GPU)</th>
                                        <th>Random Access Memory (RAM)</th>
                                        <th>Storage</th>
                                        <th>Power Supply Unit (PSU)</th>
                                        <th>Central Processing Unit (CPU)</th>
                                        <th>Price (RM)</th>
                                        <th>Action</th>

                                    {% for row in package %}
                                    
                                    <tr>
                                        <td>{{row.id}}</td>
                                        <td>{{row.1}}</td>
                                        <td>{{row.2}}</td>
                                        <td>{{row.3}}</td>
                                        <td>{{row.4}}</td>
                                        <td>{{row.5}}</td>
                                        <td>{{row.6}}</td>
                                        <td>{{row.7}}</td>
                                        <td>{{row.8}}</td>
                                        <td><a href="/updateram/{{row.id}}">Update <br> <a
                                            href="/deletepackage/{{row.id}}">Delete </td>
                                        
                                    </tr>
                                    {% endfor %}
                                </table>  
                                    
                                </section>
                                

			

		<!-- Scripts -->
        <script src="{{ url_for('static' , filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static' , filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/jquery.scrolly.min.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/jquery.scrollex.min.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/browser.min.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/breakpoints.min.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/util.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/main.js') }}"></script>

	</body>
</html>