<!DOCTYPE HTML>
<html>

<head>
	<title>PHPJabbers.com | Free Computer Store Website Template</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{{ url_for('static' , filename='bootstrap/css/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static' , filename='css/main.css') }}" />
	<noscript>
		<link rel="stylesheet" href="" {{ url_for('static' , filename='css/noscript.css' ) }}"" />
	</noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<a href="allcust" class="logo"><strong>Palam Tech</strong> <span>PC Builder</span></a>
			<nav>
				<a href="#menu">Menu</a>
			</nav>
		</header>

		<!-- Menu -->
		<nav id="menu">
			<ul class="links">

				<li> <a href="logout">Logout </a> </li>
				<li class="active"> <a href="home">Home </a> </li>

				<li> <a href="about">About Us</a> </li>

				<li><a href="contact">Contact Us</a></li>

				<li class="dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
						aria-haspopup="true" aria-expanded="false">PC Builder</a>

					<ul class="dropdown-menu">
						<li><a href="question">Recommend For You</a></li>
					</ul>

				</li>
				<li><a href="writefeedback">Give Feedback</a></li>
				<li><a href="myfeedback">My Feedbacks</a></li>
			</ul>
		</nav>



		<!-- Main -->
		<div id="main" class="alt">

			<section id="contact">
				<div class="inner">
					<section>
						<header class="major">
							<h2>{{current_user.custName}} Feedback</h2>
						</header>
						<style>
							table,
							th,
							td {
								border: 1px solid black;
								border-radius: 10px;
							}
						</style>

						<table>
							<th>Feedback ID</th>
							<th>Customer Email</th>
							<th>Feedback Type</th>
							<th>Feedback Date</th>
							<th>Feedback Description</th>
							<th>Action</th>

							{% for row in feedbacks %}
							<tr>
								<td>{{row.fbID}}</td>
								<td>{{row.custEmail}}</td>

								<td>{{row.fbType}}</td>
								<td>{{row.fbDate}}</td>
								<td>{{row.fbDesc}}</td>
								<td><a href="/updatefeedback/{{row.fbID}}">Update <br> <a
											href="/deletefeedback/{{row.fbID}}">Delete </td>
							</tr>
							{% endfor %}
						</table>

					</section>




					<!-- Scripts -->
					<script src="{{ url_for('static' , filename='js/jquery.min.js') }}"></script>
					<script src="{{ url_for('static' , filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
					<script src="{{ url_for('static' , filename='js/jquery.scrolly.min.js') }}"></script>
					<script src="{{ url_for('static' , filename='js/jquery.scrollex.min.js') }}"></script>
					<script src="{{ url_for('static' , filename='js/browser.min.js') }}"></script>
					<script src="{{ url_for('static' , filename='js/breakpoints.min.js') }}"></script>
					<script src="{{ url_for('static' , filename='js/util.js') }}"></script>
					<script src="{{ url_for('static' , filename='js/main.js') }}"></script>

</body>

</html>