<!DOCTYPE HTML>
<html>
	<head>
		<title>PHPJabbers.com | Free Computer Store Website Template</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static' , filename='bootstrap/css/bootstrap.min.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static' , filename='css/main.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static' , filename='css/radio.css') }}" />

		<noscript><link rel="stylesheet" href=""{{ url_for('static' , filename='css/noscript.css') }}"" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<header id="header" class="alt">
					<a href="allcust" class="logo"><strong>Palam Tech</strong> <span>Admin</span></a>
					
				</header>

				
				<!-- Main -->
					<div id="main" class="alt">

						<section id="contact">
                            <div  style="padding-left: 100px; padding-right: 50%">
                                <section>
                                    <header class="major">
                                        <h2>Update CPU Details</h2>
                                    </header>
    
                                    <form method="post" action="/updatecpu/{{component_to_update.id}}">
                                        <div >
                                            <div class="field half">
                                                
                                                
                                                <label for="compName">CPU Name</label>
                                                <input type="text" name="name" id="name" value="{{component_to_update.name}}" required />
                                                <br>
                                                
                                                <label for="compBrand">CPU Brand</label>
                                                <input type="text" name="brand" id="brand"  value="{{component_to_update.brand}}" required />   
                                            
                                                <br>
                                            
                                                <label for="compPrice">CPU Price</label>
                                                <input style="color:black" type="number" step="any" name="price" id="compPrice"  value="{{component_to_update.price}}" required />
                                                <br>
                                            <br>
                                               
                                                
                                            <br>
                     
                                            <div >
                                                <br>
                                                <ul class="actions">
                                                    <br>
                                                    <li><input type="submit" value="Update CPU" class="primary" /></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </section>
                               
				<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<ul class="icons">
							<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
						</ul>
						<ul class="copyright">
							<li>Copyright © 2020 Palam Tech</li>
							
						</ul>
					</div>
				</footer>

			</div>

		<!-- Scripts -->
        <script src="{{ url_for('static' , filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static' , filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/jquery.scrolly.min.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/jquery.scrollex.min.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/browser.min.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/breakpoints.min.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/util.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/main.js') }}"></script>

	</body>
</html>